.part1 {
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		display: inline-block;
		background: #444;		
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: absolute;
		text-decoration: none;
		border-radius: 50%;
		border: 0;
		outline: 0;
		cursor: pointer;
		padding: 0 .5em 0 .5em;
		font-size: 1em;
		min-width: 1em;	
		height: 1em;
		line-height: 1em;
		
		
	}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.part1:hover {
			background-color: #f98780;
		}

		input[type="button"].large,
		input[type="submit"].large,
		input[type="reset"].large,
		button.large,
		.part1.large {
			font-size: absolute;
			min-width: absolute;
		}

		input[type="button"].style1,
		input[type="submit"].style1,
		input[type="reset"].style1,
		button.style1,
		.part1.style1 {
			background: #e97770 url("images/overlay.png");
			color: #fff;
		}

			input[type="button"].style1:hover,
			input[type="submit"].style1:hover,
			input[type="reset"].style1:hover,
			button.style1:hover,
			.part1.style1:hover {
				background-color: #f98780;
			}

			input[type="button"].style1:active,
			input[type="submit"].style1:active,
			input[type="reset"].style1:active,
			button.style1:active,
			.part1.style1:active {
				background-color: #d96760;
			}
			
		.part2.actions.special {
			text-align: center;
		}